@import '@/assets/scss/_var.scss';

.movie-item {
  width: 23rem;
  @apply m-5;
}

.movie-poster {
  width: 230px;
  height: 345px;
  @apply bg-slate-400;
}

.movie-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 18rem;
  @apply text-3xl font-bold;
}

.movie-vote {
  width: 5rem;
  @apply text-center text-5xl font-bold flex justify-center items-center text-yellow-600;
}
